<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>买水果</title>
    <script src="../vue.js"></script>
</head>
<style>
    div {
        display: inline-block;
    }
</style>
<body>
<div id="app">
    <div>
        <ul>
            <h2>商品列表</h2>
            <li v-for="(fruit,index) in fruitList">
                名称：{{fruit.name}}<br>
                价格：{{fruit.price}}p
                数量：{{fruit.count}}<br>
                <button v-if="fruit.count != 0" @click="addFruit(index)">加入购物车</button>
                <p v-else style="color: red">什么 居然卖空了~</p>
            </li>
        </ul>
    </div>
    &nbsp&nbsp&nbsp&nbsp&nbsp
    <div>
        <h2>购物车列表</h2>
        <ul>
            <li v-for="(fruit,index) in shopping_cart">
                商品名称：{{fruitList[fruit.fruitListIndex].name}}<br>
                商品数量：{{fruit.count}}<br>
                <button @click="reduceFruit(index)">放回商品列表</button>
            </li>
        </ul>
    </div>
    <p>总金额：{{money}}p</p>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            fruitList: [
                {name: '苹果', price: 50, count: 20},
                {name: '芒果', price: 100, count: 8},
                {name: '榴莲', price: 200, count: 0},
                {name: '车厘子', price: 200, count: 12},
                {name: '火龙果', price: 120, count: 12},
            ],
            shopping_cart: [
                {fruitListIndex: 2, count: 2},
                {fruitListIndex: 1, count: 1}
            ],
            money: 0
        },
        computed: {
            add: function () {
                return this.fruitList[0]
            }
        },
        watch: {
            shopping_cart: {
                handler(newval, oldval) {
                    let money = 0;
                    for (let i = 0; i < this.shopping_cart.length; i++) {
                        let fruit = this.shopping_cart[i];
                        money += this.fruitList[fruit.fruitListIndex].price * fruit.count;
                    }
                    this.money = money;
                },
                immediate: true,
                deep: true
            }
        },
        methods: {
            addFruit: function (index) {
                this.fruitList[index].count--;
                for (let i = 0; i < this.shopping_cart.length; i++) {
                    if (this.shopping_cart[i].fruitListIndex == index) {
                        this.shopping_cart[i].count++;
                        return;
                    }
                }
                let item = {fruitListIndex: index, count: 1}
                this.shopping_cart.push(item);
            },
            reduceFruit: function (index) {
                if (this.shopping_cart[index].count == 1) {
                    this.shopping_cart.splice(index, 1);
                } else {
                    this.shopping_cart[index].count--;
                }
                this.fruitList[this.shopping_cart[index].fruitListIndex].count++;
            }
        }
    })
</script>
</body>
</html>